<div class="container">
  <div class="row">
    <div class="col-12"><h1>Express authentication example</h1></div>
    <div class="col-12"><hr /></div>
    <div class="col-12">
      <a
        href="javascript:void(0)"
        (click)="ejecutar()"
        class="btn btn-primary"
        href="#"
        role="button"
        >Enviar peticion
      </a>

      <span *ngIf="cargando" class="text-danger">...Cargando</span>
      <hr />

      <pre>
        <h1>Resultados</h1>
        {{ resultado | json }}
      </pre>
    </div>
  </div>
</div>
